.content-section {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
  background: #FFF;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  line-height: normal;
}

.address {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 240px;
  padding-top: 5px;
  font-style: normal;
  line-height: 24.3px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.paragraph__link {
  text-decoration: underline 1px solid #000;
  text-underline-offset: 0.2em;
}

.paragraph__link_active {
  text-decoration: none;
}

.header__logo {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.cover {
  background: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  min-height: 757px;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}

.cover-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0 50px;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: flex;
  justify-content: flex-start;
  line-height: 115%;
}

.aligned-text_locate_center {
  display: flex;
  justify-content: center;
  line-height: 100%;
}

.aligned-text_locate_end {
  display: flex;
  justify-content: flex-end;
  line-height: 100%;
}

.aligned-text_no_letter-spacing {
  letter-spacing: 0;
}

.aligned-text_letter-spacing {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding-right: 50px;
  padding-top: 135px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  text-align: center;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  position: relative;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #FFF;
  width: 257px;
  min-height: 52px;
  text-align: center;
  line-height: normal;
  font-family: inherit;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.lots {
  max-width: 1340px;
  padding-top: 180px;
}

.lots__heading {
  padding-left: 40px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
  padding-top: 27px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 30px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 50px 40px;
}

.card_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: flex;
  text-align: flex-end;
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline 1px solid #000;
  text-underline-offset: 0.3em;
}

.about {
  display: grid;
  gap: 95px;
  width: 1340px;
  padding-top: 181px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 885px;
  justify-items: center;
  gap: 25px;
}

.about__logo {
  display: grid;
  place-content: center center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text_gap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  padding-top: 100px;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center space-between;
  align-items: start;
  max-width: 1340px;
  padding-top: 180px;
  padding-bottom: 90px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}

.footer__menu-list {
  text-align: center;
  line-height: normal;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline 1px solid #000;
  text-underline-offset: 0.2em;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  gap: 47px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  height: 100%;
}

.footer__social-icon {
  height: 48px;
}
